<h1> Programmes  </h1>
 

 <%  @programmes.each do |p|  %>
<table>
	<tr>
		<th>
			details
		</th>
       <td>
       <%=  link_to(p.name, ?????boomerang_programme_path(@boomerang)) %> 
     
       </td>
       <td>
        <%= p.id %> 
       </td>
   </tr>
</table)



 <% end %>

 
<p> END </p>

